:root {
    --c--black: #000000;
    --c--bblue: #b9f2fc;
    --c--offwhite: #edf0f1;
    --c--dblue: #4259a3;
  }
/* body as flex container */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--c--bblue);
    line-height: 2rem;
  }
  
  /* main header */
  header {
    display: flex;
    background-color: var(--c--black);
    color: var(--c--offwhite);
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 100vw;
    margin-bottom: 5rem;
  }
  
  h1 {
    font-size: 200%;
  }
  
  /* logo width and height */
  .logo {
    width: 5rem;
    height: 5rem;
  }
  
  /* quiz content section */
  .quiz-start-content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 6rem 2rem;
  }
  
  .wrapper {
    line-height: 2.5rem;
  }
  
  /* user info section */
  .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  
  /* form header */
  .form-h2 {
    font-size: 2rem;
  }
  
  /* for buttons */
  button,
  #submit-score,
  #start-quiz {
    padding: 2%;
    border-radius: 1.875rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: rgb(185, 182, 182);
    font-size: 1.3rem;
    outline: none;
  }
  
  /* button:hover {
    background-color: var(--c--dblue);
  } */
  
  /* button hover property */
  button:hover,
  .clear:hover,
  .go-back:hover,
  #start-quiz:hover {
    background-color: var(--c--dblue);
  }
  
  #sign-up {
    padding: 0.2rem;
  }
  
  #start-quiz {
    padding: 4%;
  }
  
  /* clear and go back button */
  .clear-data,
  .go-back {
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: rgb(185, 182, 182);
    padding: 1rem;
    border-radius: 5%;
    font-size: 1rem;
  }
  
  /* question and ans display wrapper */
  .queAnsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* keeping for reference */
  /* .question-answer-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
  } */
  
  /*  media queries for screen less than 768 */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 150%;
    }
    .queAnsDisplay {
      margin: 2rem;
    }
  }
  
  /*  media queries for screen less than 600 */
  @media screen and (max-width: 600px) {
    .logo {
      display: none;
    }
  }
  
  /*  media queries for screen less than 400 */
  @media screen and (max-width: 460px) {
    header {
      flex-direction: column;
    }
  }