:root {
    --c--black: #000000;
    --c--bblue: #b9f2fc;
    --c--offwhite: #edf0f1;
    --c--dblue: #4259a3;
  }
  
  /* body container */
  body {
    background-color: var(--c--bblue);
    line-height: 2rem;
  }
  
  /* main header */
  header {
    display: flex;
    background-color: var(--c--black);
    color: var(--c--offwhite);
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }
  h1 {
    font-size: 200%;
  }
  /* namelogo width and height and adding transition property to it for rotation */
  .logo {
    width: 5rem;
    height: 5rem;
    transition: all 5s ease 0s;
  }
  
  .high-score {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: var(--c--offwhite);
    text-decoration: none;
    margin-right: auto;
    padding: 1%;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 190%;
  }
  .quiz-start-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }
  .wrapper {
    line-height: 2.5rem;
  }
  .user-info {
    margin-top: 10rem;
  }
  
  #sign-up,
  #start-quiz {
    padding: 1rem;
    border-radius: 5%;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: rgb(185, 182, 182);
  }
  
  button:hover,
  .clear:hover,
  .go-back {
    background-color: var(--c--dblue);
  }
  
  #sign-up {
    padding: 0.2rem;
  }
  
  .show-highscore {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .high-score-h1 {
    width: 100%;
  }
  
  .clear,
  .go-back {
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: rgb(185, 182, 182);
    padding: 1rem;
    border-radius: 5%;
    font-size: 1rem;
  }